{
  "singleQuote": true,
  "printWidth": 125,
  "tabWidth": 2,
  "semi": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "singleQuote": false,
        "tabWidth": 4,
        "printWidth": 80
      }
    }
  ]
}
